/*
    See also: http://hexcolortool.com/

    Darker
    #990000
    #CC3333
    #FF6666
    #FF9999
    #FFCCCC
    Lighter

*/


body {
    padding-bottom: 20px;
}

#books div.input-group {
    margin-bottom: 20px;
}

img
{
    margin-bottom:20px;
}

small {
    display: inline-block;
}

#subnav
{
    border-left:thin solid #FFCCCC;
}



/*#region lists*/

dl > dt {
    margin-top: 10px;
}

    dl > dt:first-child {
        margin-top: 0px;
    }

/*#endregion*/




/*#region figures */

figure.figure-member {

}

figure.figure-aside {            
    text-align:center;
}

figure.figure-aside figcaption
{                
    background:#990000;
    color:white;
    line-height:50px;
    opacity:0.75;    
    position:relative;
    text-align:center;    
    top:80px;        
    z-index:1;
    border-radius:4px;   
}
figure.figure-aside img
{        
    margin:auto !important;    
}

/*#endregion */




/*#region accented items*/

h1,
figcaption,
.accented {
    color: #990000;
}

div,
.page-header {
    border-color: #FFCCCC;
}

/*#endregion #/

/*#region responsive iframes*/




/*#region iframes */

.hframe-wrapper {
    margin:0 auto;
    margin-bottom:20px;
    width: 100%;
}

#videos .hframe-wrapper {
    /*youtube aspect ratio is 3:4*/
}

#documents .hframe-wrapper {
    /*onedrive aspect ratio is 1:6*/
}

.hframe {
    position: relative;
}

    .hframe .ratio {
        display: block;
        width: 100%;
        height: auto;
    }

    .hframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
    }

/*#endregion*/




/*#region Images*/

img.img-member {


}

/*#endregion*/