body {
    padding-bottom: 20px;
}

div,
.page-header {
    border-color: #FF5A00;
}

#books div.input-group {
    margin-bottom: 20px;
}

strong,
.accent {
    color: #990000;
}

small {
    display: inline-block;
}

/*#region lists*/

dl > dt {
    margin-top: 10px;
}

    dl > dt:first-child {
        margin-top: 0px;
    }

li.even-child {
    background-color: #f6f9fb;
}

/*#endregion*/

figcaption {
    margin-top:20px;
    margin-bottom:10px;
}

/*#region headings*/

h1 {
    color:#990000;
}

h2 {
}

/*#endregion*/


