body {
    padding-bottom: 20px;
}


#books div.input-group {
    margin-bottom: 20px;
}

small {
    display: inline-block;
}

/*#region lists*/

dl > dt {
    margin-top: 10px;
}

    dl > dt:first-child {
        margin-top: 0px;
    }

/*#endregion*/

figcaption {        
    line-height:40px;
    margin-left:10px;
    margin-top:20px;
}

/*#region accented items*/

h1,
.accented {
    color:#990000;
}

div,
.page-header {
    border-color: #990000;
}

/*#endregion*/