<section>

    <div class="page-header">
        <h1 id="about-us">About Us</h1>
    </div>

    <h2>History</h2>

    <p>The Salt Spring Conjuring Club first met on Wednesday 02 October, 2013. Since then we have had over 122 visits by 30 attendees, including seven regulars, who now form the clubs core. This cadre of budding magicians range in age from seven to fourteen.</p>

    <p>
        We currently meet every Friday from 3:30 to 5 pm (excluding statutory holidays) at the Salt Spring Island Public Library. On the first Friday of every month, we put on a free public show in the program room. To date, we have had two public performances and we are planning more.
    </p>

    <p>
        The Conjuring Club is free public service. It builds confidence, friendships, and skills for children and youth. It promotes the arts. It develops connections and community.
    </p>

    <h2>Future</h2>

    <p>
        We are planning a major public performance for Friday 05 December, 2014. Our existing public performances are in fact public dress rehearsals in preparation for the gala show. To increase the production value, we are building a stage with curtains, procuring costumes, developing a script, and encouraging commitment from our regulars.
    </p>

    <h2>People</h2>

    <h3>Shaun Luttin, Magician, Computer Programmer</h3>

    <p>
        Shaun Luttin is an amatuer magician in the best sense of the word. He has been practicing and performing sleight-of-hand with playing cards for 21 years, is a founding member of the Vancouver Seven group of magicians, and performed with them at An Evening of Magic and Mystery. As owner of <a href="http://www.bigfont.ca">BigFont.ca</a>, he earns a living writing software and providing technical support. Further, he has earned a Bachelor of Human Kinetics from UBC, a Certificate of Technology from BCIT, and is a Microsoft Certified Professional Software Developer. Having accrued over 2,132 hours of volunteer service between 2002 and 2013, ranging from crisis counseling to arts, entertainment, and technical support, and having eschewed driving in favor of public transportation, he is a de facto community leader.
    </p>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-thumbnail" src="/Images/shaun_3.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="/Images/shaun.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="/Images/shaun_2.jpg" />
        </div>
    </div>

    <h3>Keith Picot, Film Maker, Musician</h3>

    <p>A professional musician from the age of 19 (interrupted by a eight year stint of homesteading and ranch work), Keith Picot, at 38, has risen to the tops of his field as a double bass player.  In 2010 he won the Toronto Maple Blues Award for bass player of the year after having been nominated five times. In the last five years he has diversified and become the owner and operator of <a href="http://keithpicot.wordpress.com/">Hek's Half Acre Film Studio</a>, creating memorable 1920's style slap stick silent comedies.  </p>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-thumbnail" src="/Images/keith_2.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="/Images/keith_4.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="/Images/keith.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="/Images/keith_3.jpg" />
        </div>
    </div>

</section>
