<!--Conduct-->
<section id="conduct" ng-controller="ConductCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1>Code of Engagement</h1>
            <ul class="list-unstyled">
                <li ng-repeat="aspiration in aspirations"><strong>{{ aspiration.Notion }}</strong> <span>{{ aspiration.Example }}</span></li>
            </ul>
            <p><span class="label label-warning">Warning</span> If you break the code of engagement, it isn't the end of the world. You will, though, have to endure one of the following outcomes:</p>
            <ul>
                <li>wear the blindfold for 15-minutes,</li>
                <li>donate $0.10 to the library for every minute that you're late, or</li>
                <li>not attend for the day.</li>
            </ul>
        </div>
    </div>
</section>
<!--End Conduct-->
