<!--Conduct-->
<section ng-controller="ConductCtrl">
    <div class="page-header">
        <h1 id="conduct">Code of Engagement</h1>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="aspiration in aspirations"><strong>{{ aspiration.Notion }}</strong> <p>{{ aspiration.Example }}</p></li>
    </ul>
    <p><span class="label label-warning">Warning</span> If you break the code of engagement, it isn't the end of the world. You will, though, have to endure one of the following outcomes:</p>
    <ul class="list-unstyled">
        <li>wear the blindfold for 15-minutes,</li>
        <li>donate $0.10 to the library for every minute that you're late, or</li>
        <li>not attend for the day.</li>
    </ul>
</section>
<!--End Conduct-->
