<section>
    <div class="page-header">
        <h1 id="events">Events</h1>
        <p>From time to time, we have special events.</p>
    </div>
    @*
        Todo:
        Render this with angular using templates to keep it DRY.
    *@
    <ul class="list-unstyled">
        <li itemscope itemtype="http://data-vocabulary.org/Event">
            <h2 itemprop="name">Party in the Park</h2>
            <ul>
                <li><time itemprop="startDate" datetime="2014-08-24T12:00-08:00">Sat 24 Aug 2014, 12 PM - 3 PM</time></li>
                <li itemprop="location">Centennial Park</li>
                <li itemprop="description">Salt Spring Foundation's annual <strong><a href="http://www.saltspringislandfoundation.org/pdf/SSIFParty_Driftwood_final.pdf">Party in the Park</a></strong> is an opportunity for any Conjuring Club member to perform. It's at your own initiative. Just show up, pick a person, and show 'em a trick.</li>
            </ul>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Event">
            <h2 itemprop="name">Movie Night!</h2>
            <ul>
                <li><time itemprop="startDate" datetime="2014-09-12T15:30-08:00">Fri 12 Sept 3:30 PM - 7 PM</time></li>
                <li itemprop="location">Salt Spring Public Library Program Room</li>
                <li itemprop="description">This is a special screening of the award-winning documentary <a href="http://www.makebelievefilm.com/index.html">Make Believe</a>. We will start right after the normal Conjuring Club meeting and run until the movie ends. Members and invited guests only.</li>
            </ul>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Event">
            <h2 itemprop="name">Terry Fox Run</h2>
            <ul>
                <li><time itemprop="startDate" datetime="2014-09-21T10:00-12:00">Sun 21 Sept 10 AM - Noon</time></li>
                <li itemprop="location">Rainbow Road Pool</li>
                <li itemprop="description">Another performance opportunity for Conjuring Club members. Pick a person and perform a trick for 'em. We'll have a table.</li>
            </ul>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Event">
            <h2 itemprop="name">Conjuring Club Public Show!</h2>
            <ul>
                <li><time>December 2014</time></li>
                <li itemprop="location">Salt Spring Public Library Program Room</li>
                <li itemprop="description">our members will present their most polished magic effects to a live public audience.</li>
            </ul>
        </li>
    </ul>

</section>
