<section>
    <div class="page-header">
        <h1 id="events">Events</h1>
        <p>From time to time, we have special events.</p>
    </div>
    
    <ul class="list-unstyled">
        <li>
            <h2>Sat 24 Aug 2014, <small>12 PM - 3 PM</small></h2>
            <p>
                Salt Spring Foundation <strong><a href="http://www.saltspringislandfoundation.org/pdf/SSIFParty_Driftwood_final.pdf">Party in the Park</a></strong> at Centennial Park. This is an opportunity for any Conjuring Club member to perform. It's at your own initiative. Just show up, pick a person, and perform.
            </p>
        </li>
        <li>
            <h2>Fri 12 Sept 2014, <small>5 PM - Movie Ends</small></h2>
            <p>
                <strong>Movie Night</strong> at the Salt Spring Library Program Room. We will start right after the normal Conjuring Club meeting and run until the movie ends.
            </p>
        </li>
        <li>
            <h2>December 2014</h2>
            <p>
                <strong>Conjuring Club Public Show</strong> in the Library Program Room, at which our members will present their most polished magic effects to a live public audience.
            </p>
        </li>
    </ul>

</section>
