<section>
    <div class="page-header">
        <h1 id="events">Events</h1>
        <p>From time to time, we have special events.</p>
    </div>

    <h2>Fri 12 Sept 2014, <small>5 PM - Movie Ends</small></h2>
    <p>
        Movie Night at the Salt Spring Library Program Room. We will start right after the normal Conjuring Club meeting and run until the movie ends.
    </p>

    <h2>Sat 24 Aug 2014, <small>12 PM - 3 PM</small></h2>
    <p>
        Salt Spring Foundation <a href="http://www.saltspringislandfoundation.org/pdf/SSIFParty_Driftwood_final.pdf">Party in the Park</a> at Centennial Park. This is an opportunity for any Conjuring Club member to perform. It's at your own initiative. Just show up, pick a person, and perform.
    </p>

</section>