<!--Header-->
<header class="page-title">
    <img alt="" src="/Images/logo.png" class="img-responsive">
    <h1>Salt Spring Conjuring Club
        <small>
            Imagine Mastering Illusion
        </small>
    </h1>
</header>