<!--Header-->
<header class="page-header">
    <h1>
        <span>
            Salt Spring
        </span>
        <span>
            Conjuring Club
        </span>
        <small>
            Imagine Mastering Illusion
        </small>
    </h1>
</header>
<!--End Header-->
