<!-- ASP.NET Identity -->
<!-- See also http://www.asp.net/vnext/overview/authentication/individual-accounts-in-aspnet-web-api -->

<div>
    
    <header>
        <h1>Login</h1>
    </header>

    <section id="login" ng-controller="LoginCtrl">

        <form name="loginForm" role="form" ng-submit="login()">
            @*Row*@
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input class="form-control" id="inputEmail" placeholder="Enter email" ng-model="username">
                    </div>
                </div>
            </div>
            @*Row*@
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
                    </div>
                </div>
            </div>
            @*Row*@
            <div class="row">
                <div class="col-xs-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            @*Row*@
            <div class="row">
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

    </section>

</div>