<!-- ASP.NET Identity -->
<!-- See also http://www.asp.net/vnext/overview/authentication/individual-accounts-in-aspnet-web-api -->
<section id="register" ng-controller="RegisterCtrl">

    <p>Register:{{ result }}</p>

</section>

<section id="login" ng-controller="LoginCtrl">

    <p>Login:{{ result }}</p>

</section>
