<!--Levels-->
<section id="levels" ng-controller="LevelCtrl">
    <div class="page-header">
        <h1>Secret Knowledge</h1>
    </div>
    <p>Learning magic means learning secrets one level at a time. As we develop greater skill, we earn access to further levels.</p>

        <div>
            <h2>Level One <small>Learn the territory.</small></h2>
            <ul>
                <li ng-repeat="criterion in level1"><strong>{{ criterion.Skill }}</strong> <p>{{ criterion.Standard }}</p></li>
            </ul>
        </div>

</section>
<!--End Levels-->
