<section>

    <div class="page-header">
        <h1 id="magic-in-movies">Magic in Movies</h1>
    </div>

    @* TODO: Put this in Angular. *@
    @* TODO: Style this more nicely. *@

    <ul>
        <li><a href="http://www.imdb.com/title/tt0443543/">The Illusionist</a> PG-13</li>
        <li><a href="http://www.imdb.com/title/tt0482571/">The Prestige</a> PG-13</li>
        <li><a href="http://www.imdb.com/title/tt0790628/">The Incredible Burt Wonderstone</a> PG-13</li>
        <li><a href="http://www.imdb.com/title/tt1538833/">Make Believe</a> Family Friendly</li>      
        <li><a href="http://www.imdb.com/title/tt1670345/">Now You See Me</a> PG-13</li>
    </ul>

</section>
