@model ConjuringClub.ViewModels.MemberViewModel

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="@Model.HeadshotSrc" alt="...">
    </a>
    <div class="media-body">
        <h4 class="media-heading">@Model.FirstName</h4>
        <p>@Model.About</p>
    </div>
</div>


