@model ConjuringClub.ViewModels.OneDriveDocumentViewModel[]

<section id="documents">

    <div class="page-header">
        <h1>Documents</h1>
    </div>

    <div class="row">

        @for (var i = 0; i < Model.Length; ++i)
        {
            <div class="col-md-6">
                @Html.Partial("_OneDriveDocument", Model[i])
            </div>
        }

    </div>

</section>