<section>
    <div class="page-header">
        <h1 id="schedule">Schedule & Registration</h1>
        <p>All sessions take place on Friday from 3:30 to 5 PM. Attendance is free of charge.</p>
    </div>

    <h2>First Friday of the Month <small>Open House</small></h2>
    <ul class="list-unstyled">
        <li>These take place in the Library Program Room.</li>
        <li>They are open to anyone - registration is NOT required.</li>
    </ul>

    <h2>The Other Fridays <small>Registration Required</small></h2>
    <ul class="list-unstyled">
        <li>These take place in Library Room 103.</li>
        <li>Registration is required.</li>
        <li>Due to fire restrictions, space is limited to seven participants.</li>
    </ul>

</section>