<section>

    <h1>Schedule</h1>

    <dl class="list-unstyled">
        <dt><strong>First Friday of the Month</strong> - Open House</dt>
        <dd>These takes place in the Library Program Room.</dd>
        <dd>They are open to anyone - registration is NOT required.</dd>        
        <dt><strong>The Other Fridays</strong> - Registration Required</dt>
        <dd>These takes place in Library Room 103.</dd>
        <dd>Registration is required.</dd>
        <dd>Due to fire restrictions, space is limited to seven participants.</dd>
    </dl>

</section>