
<div class="row">
    <div class="col-md-12">
        <div class="well">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <p><span class="lead">We're a club not a classroom.</span> Often there will be adult there, sometimes there won't, in which case we expect members to participate on their own.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <ul>
                        <li>Sessions take place Fridays from <time>3:30 to 5 PM</time>.</li>
                        <li>
                            We meet at the public library:
                            <ul>
                                <li>if available, in the larger program room,</li>
                                <li>else, in a smaller meeting room.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>Attendance is free.</li>
                        <li>Ages 10+ are welcome.</li>
                        <li>There will NOT always be adult supervision.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>