
<div class="row">
    <div class="col-md-12">
        <div class="well">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <p><span class="lead">We're a club not a classroom.</span> Often there will be adult, sometimes there won't, in which case we expect members to participate on their own.</p>
                </div>

            </div>
            
        </div>
    </div>
</div>
