<section>
    <div class="page-header">
        <h1 id="supplies">Supplies</h1>
    </div>
    <p>Magicians use a wide variety of paraphrenalia. Here are some that we use. Many are found at your local drug or hardware store, others are more specialized.</p>
    <ul>
        <li>Wax</li>
        <li>Rope</li>
        <li>
            Playing Cards
            <ul>
                <li>Poker Size</li>
                <li>Bridge Size</li>
                <li>Bicycle</li>
                <li>Bee</li>
            </ul>
        </li>
        <li>Fanning / Production Cards</li>
        <li>Flash Paper</li>
        <li>Wallet</li>
        <li>Custom Printed T-Shirts</li>
    </ul>
</section>
