@model ConjuringClub.ViewModels.FigureAsideViewModel

<div class="figure-aside-wrapper">
    <figure class="figure-aside">
        <figcaption>
            @Model.FigCaption
        </figcaption>
        <img class="img-thumbnail img-responsive" src="@Model.Src" alt="" />
    </figure>
</div>
