@using ConjuringClub.ViewModels

@{
    var galleries = new List<ImageGalleryFromFolderViewModel>() {

        new ImageGalleryFromFolderViewModel()
        {
            GalleryDirectory = "/stage",
            Title = "Building the Stage",
            Caption = "Thank you to Windsor Plywood, Eric Jacobson, Mouat's Trading Co and Gary Bywater!"
        },
        new ImageGalleryFromFolderViewModel()
        {
            GalleryDirectory = "/coopCarnival2014",
            Title = "Coop Carnival 2014",
            Caption = "A few of us performed at the coop-op's annual carnival."
        },
        new ImageGalleryFromFolderViewModel()
        {
            GalleryDirectory = "/meetings",
            Title = "Meetings",
            Caption = "Some candid shots of the Conjuring Club Meetings."
        }
    };

}

<section>
    <div class="page-header">
        <h1 id="images">Image Galleries</h1>
    </div>
    <accordion close-others="false">
        @foreach (var gallery in galleries)
        {
            ViewBag.IsFirst = galleries.First() == gallery;
            @Html.Partial("Media/_ImageGalleryFromFolder", gallery)
        }
    </accordion>
</section>

