@*
    In YouTube, keep it simple:
    - add a title
    - tag each video with [salt-spring-conjuring-club]
    - set privacy as unlisted
    - keep everything else default, for now (e.g. no playlist, no description)
*@

<section ng-controller="YouTubeCtrl">
    <div class="page-header">
        <h1 id="videos">Videos</h1>
    </div>
    <div class="alert alert-info">
        <p>These are either videos that others have recorded of Conjuring Club members or performances of other magicians that we have found inspiring.</p>
    </div>
    <div class="row">
        <div class="col-sm-6" ng-repeat="video in videos">
            <h4>{{ video.Title }}</h4>
            <img class="img-responsive"
                 ng-src="//img.youtube.com/vi/{{ video.Id }}/0.jpg"
                 ng-show="video.iframeSrc == null"
                 alt="{{ video.Title }}"
                 ng-click="open(video)">
            <div class="embed-responsive embed-responsive-4by3" ng-hide="video.iframeSrc == null">
                <iframe class="embed-responsive-item" ng-src="{{ video.iframeSrc }}"></iframe>
            </div>
        </div>
    </div>
</section>