<!DOCTYPE html>
<html ng-app="conjuringApp">
<head>
    <title>Salt Spring Conjuring Club</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <link href="app.css" rel="stylesheet" />

</head>
<body class="container">

    <h1>Salt Spring Conjuring Club</h1>

    <div ng-controller="BookCtrl">
        <h2>Books</h2>
        <h3>Search</h3>

        <!--TODO Write the labels programmatically to keep the [for], [id], [text] and [placeholder] strings DRY--> 
        <label for="General">General <input class="form-control" id="General" ng-model="search.$" placeholder="General" /></label>
        <label for="Title">Title <input class="form-control" id="Title" ng-model="search.Title" placeholder="Title" /></label>
        <label for="Last">Author Last Name <input class="form-control" id="Last" ng-model="search.LastName" placeholder="Last Name" /></label>
        <label for="First">Author First Name <input class="form-control" id="First" ng-model="search.FirstName" placeholder="First Name" /></label>

        <h3>Results</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="book in books | filter:search:false | orderBy:'Title'">
                <strong>{{ book.Title }}</strong>
                <span ng-show="book.LastName && !book.FirstName">{{ book.LastName }}</span>
                <span ng-show="book.LastName && book.FirstName">{{ book.LastName + ", " + book.FirstName }}</span>
            </li>
        </ul>

    </div>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="app.js"></script>

</body>
</html>
