<!DOCTYPE html>
<html ng-app="conjuringApp">
<head>
    <title>Salt Spring Conjuring Club</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <link href="app.css" rel="stylesheet" />

</head>


<body class="container">

    <div class="page-header">
        <h1>Salt Spring Conjuring Club <small>Earn Privileged Knowledge</small></h1>
    </div>

    <div id="book-ctrl" ng-controller="BookCtrl">

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control" id="Search" ng-model="search.$" placeholder="Search books." />
                    <span class="input-group-addon">
                        {{ "Displaying " + (books | filter:search:bookAndCompare).length + " of " + books.length + " books." }}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group">
                    <!--APA
                    Author, A. A. (Year of publication). Title of work: Capital letter also for subtitle. Location: Publisher.
                    See https://owl.english.purdue.edu/owl/resource/560/08/ -->

                    <li class="list-group-item {{ $odd ? 'odd-child' : 'even-child' }}" ng-repeat="book in books | filter:search:bookAndCompare | orderBy:'Title'">

                        <!--author-->
                        <span ng-show="book.LastName && !book.FirstName">{{ book.LastName }}</span>
                        <span ng-show="book.LastName && book.FirstName">{{ book.LastName + ", " + book.FirstName.substring(0,1) + "." }}</span>

                        <!--year-->
                        <span ng-show="book.PublishYear">{{ "(" + book.PublishYear + ")." }}</span>

                        <!--title-->
                        <i class="accent" ng-show="book.Title">{{ book.Title + "." }}</i>
                        <i class="accent" ng-show="book.Title && book.Subtitle">{{ book.Title + ": " + book.Subtitle + "." }}</i>

                        <!--publisher-->
                        <span ng-show="book.PublishLocation && book.Publisher">{{ book.PublishLocation + ": " + book.Publisher + "." }}</span>                        

                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="app.js"></script>

</body>
</html>
