<!DOCTYPE html>
<html ng-app="conjuringApp">
<head>
    <title>Salt Spring Conjuring Club</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body class="container">

    <h1>Salt Spring Conjuring Club</h1>

    <div ng-controller="BookCtrl">
        <h2>Books</h2>
        <h3>Search</h3>
        <label>All <input ng-model="search.$" placeholder="All" /></label>
        <label>Title <input ng-model="search.Title" placeholder="Title" /></label>
        <label>Subtitle <input ng-model="search.Subtitle" placeholder="Subtitle" /></label>
        <label>Author Last Name <input ng-model="search.LastName" placeholder="Last Name" /></label>
        <label>Author First Name <input ng-model="search.FirstName" placeholder="First Name" /></label>
        <h3>Results</h3>
        <ul class="list-group" ng-repeat="book in books | filter:search:false">
            <li class="list-group-item">
                <h4>{{ book.Title }} <small> {{ book.Subtitle }}</small></h4>
                <p> {{ book.LastName }}, {{ book.FirstName }} </p>
                </li>
        </ul>
    </div>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="app.js"></script>

</body>
</html>
