<section>

    <div class="page-header">
        <h1 id="schedule">Schedule & Registration</h1>
    </div>

    <h2>First Friday of the Month <small>Open House</small></h2>
    <ul class="list-unstyled">
        <li>These take place in the Library Program Room.</li>
        <li>They are open to anyone - registration is NOT required (limited to eight members).</li>
    </ul>

    <h2>The Other Fridays <small>Registration Required</small></h2>
    <ul class="list-unstyled">
        <li>These take place in Library Room 103.</li>
        <li>Registration is required.</li>
        <li>Due to fire restrictions, space is limited to seven participants.</li>
    </ul>

    <h2>Trajectory of Each Year</h2>
    <h3>January to April <small>Learn and practice the art</small></h3>
    <p>
        We learn new effects, techniques, and presentations for part of each session and demonstrate them to each other for the other part. It's half classroom and half Toastmasters&trade; for magicians. We're learning the art.
    </p>
    <p>
        If you know nothing about magic and just want to learn a few tricks, this is a good time to start; by the end of April, you will have chosen and learned about three effects.
    </p>
    <p>
        On the other hand, if you're already an experienced magician, this is a time to learn and experiment with new stuff; you've always wanted to learn the matrix... learn it now.
    </p>
    <p>
        During this time, we expect you to show up on time and stay for the duration, because the club has significant structure.
    </p>
    <h3>May to August <small>Come as you please</small></h3>
    <p>
        During the summer, a lot of people either go away or would much rather be playing outside than cooped up in a room studying ledgerdemain. This is right and good! If you're into learning, practicing, or just chatting about magic, now is the time to show up as you please.
    </p>
    <p>It's also likely during this time that you'll be able to hang out more casually with the club. This can be a lot of fun and a really good way to get to know each other without the structure of the other terms.</p>
    <h3>September to December <small>Show time</small></h3>
    <p>
        This is the hardest, most odious part for some members and the most engaging and satisfying for others. Personally, I'm more comfortable with sleight-of-hand than I am with performance and showpersonship.
    </p>
    <p>
        We each choose three or so effects to practice down cold. We focus more on coordinating a show than learning techniques. This is the performance term of the conjuring club. Expect to work together on blocking out the stage, building the stage, arranging the chairs, setting up the lights, organizing props, clothing, (hidden) pockets, and preparing to present to a live audience.
    </p>
    <p>
        If you're new to prestidigitation, now is the most challenging time to join the club. You will need to ramp up quickly by learning a few effects, understanding the social norms of the club, and preparing yourself to present. Alternatively, you will need to be somewhat of a bench warmer playing a supportive role, for instance, of taking tickets at the door or helping to setup/takedown.
    </p>
    <p>
        Magic is a <i>performance</i> art, and part of that is show <i>business</i>. That means both rehearsal and administration.
    </p>
    <div class="alert alert-info"><strong>Note:</strong> The schedule may flex based on core members needs.</div>

</section>
