<section ng-controller="ConductCtrl">
    <div class="page-header">
        <h1 id="who-should-attend">Who Should Attend?</h1>
    </div>
    <p>
        The Conjuring Club is more like a chess club than a basketball team. It isn't entirely like a chess club... but you get the idea.
    </p>
    <p>
        Members must focus in a room to practice and to learn techniques. They must be able to read a room, within reasonable limits, to determine what's appropriate. There will not always be adult supervision or guidance. Members must be responsible, at least enough to remember props and important events and to stay on task.
    </p>
    <p>
        Generally speaking, the minimum age is twelve and the maximum 19. As of 2014, the core group includes two fifteen year olds and a nine year old. We've found that highly energetic kids tend to become bored, and that children under twelve lack the responsibility to remember props and important events.
    </p>
    <p>
        If you think a child is appropriate, ask. Temperment and maturity are more important than age is. A particularly energetic 15 year old will be happier on the basketball team. An eight year old with precocious self-regulation and a very involved parent will be happy at the conjuring club.
    </p>
    <p>
        If your child is interested but not quite responsible enough, as a parent it will be your role to be the responsible proxy for your child. You will need to take initiative: find out from your child about events and required supplies, show up just before or after the club to learn the schedule.
    </p>
    <p>
        An important note about supervision: the conjuring club is a terrible baby sitter. Shaun Luttin is not always is the room and the club regularly runs without him. <i>A child that requires supervision will not receive it at the conjuring club.</i>
    </p>
    <p>
        In short, we're a club, basically of teens and some preteens. Members must cooperate, compromise, and work both individually and as a team. It's hard work. You'll have to sacrifice, and you'll learn a lot.
    </p>

</section>

